# Example/
# .Example/*
# Xcode
DerivedData/
*.xcuserstate
*.xcuserdata/
*.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# CocoaPods
Pods/

# SwiftPM
.build/
Package.resolved

GoogleService-Info.plist
log_*

Example/*